<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <a href="/listing"><button>Home</button></a>
    <h3>Listing Details : </h3>
    <ul>
        <li>
            <%= showListing.title %>
        </li>
        <li>
            <%= showListing.description %>
        </li>
        <li>
            &#8377 <%= showListing.price.toLocaleString("en-IN") %>
        </li>
        <li>
            <%= showListing.location %>
        </li>
        <li>
            <%= showListing.country %>
        </li>
    </ul>
    <a href="/listing/<%= showListing._id %>/edit">Edit this listing</a>
    <form method="post" action="/listing/<%=showListing._id %>?_method=DELETE"><button>Delete</button></form>
</body>

</html>